<a href="https://colab.research.google.com/github/Debidatta0007/Debidatta_19cse032/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Display SI and COMPOUND INTEREST

In [ ]:
p=int(input("Enter the principal amount"))
t=int(input("enter the required time"))
r=float(input("enter the rate of interest "))
interest=(p*t*r)/100
print("S.I :",interest)
ci=p*(pow((1+r/100),t))
print("C.I:",ci)

Enter the principal amount100
enter the required time5
enter the rate of interest 5.6
S.I : 28.0
C.I: 131.31658832117762

WAP TO INPUT 1ST NAME,MID NAME,LAST NAME last name into three variable and then apply concatenation

In [ ]:
f_nm=input("enter the first name")
m_nm=input("enter the middle name")
l_nm=input("enter the last name")
print("Name after concatenation :",f_nm+m_nm+l_nm)

enter the first nameraja
enter the middle namedebi
enter the last namerout
Name after concatenation : rajadebirout

WAP to create a list with multiple dimension and display the element of it.

In [ ]:
list=["raja","100","3.5"]
print(list)

['raja', '100', '3.5']

WAP to implement type conversion on different data types

In [ ]:
a=int(input("enter a integer value"))
b=float(a)
print("After conversion the float value is :",b)
d=float(input("enter a integer value"))
e=int(a)
print("After conversion the float value is :",e)

enter a integer value2
After conversion the float value is : 2.0
enter a integer value2.0
After conversion the float value is : 2

find the distance between 2 points using pythagorean theorem,where the coordinate of two poin given input.

In [ ]:
import math
X1=float(input("eNTER THE VALUE OF X1 :"))
Y1=float(input("eNTER THE VALUE OF Y1 :"))
X2=float(input("eNTER THE VALUE OF X2 :"))
Y2=float(input("eNTER THE VALUE OF Y2 :"))
d=math.sqrt((X2-X1)**2+(Y2-Y1)**2)
print("Distance is :",d)

eNTER THE VALUE OF X1 :3.2
eNTER THE VALUE OF Y1 :2.2
eNTER THE VALUE OF X2 :5.2
eNTER THE VALUE OF Y2 :4.2
Distance is : 2.8284271247461903